body{
    background-color: var(--bg-lightblue);
    width: 100vw;
    height: 100vh;
}

.site{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 5.5% 81.5% 5%;
}

.header{
    grid-area: 1 / 1;
    background-color: var(--bg-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo{
    width: 5rem;
}
.site_title{
    font-size: 2rem;
}
.navbar{
    grid-area: 2 / 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--bg-black);
    color: var(--white);
    height: 100%;
    border-top: solid var(--bg-gray) 1px;
    font-size: 1.5rem;
}
.ul-navbar{
    display: none;
}
.ul-navbar.active{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1000;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-template-rows: repeat(5, 30px);
    padding-top: 55%;
}
.li-navbar{
    display: inline-block;
    width: 70vw;
    text-align: left;
    color: var(--white);
    background-color: var(--bg-black);
    padding: 0 15%;
}
.lnk-navbar{
    text-decoration: none;
    color: var(--white);
    padding: 1.1rem 1rem;
}
.main{
    grid-area: 3 / 1;
    background-color: var();
    height: 100%;
    background-color: #fff;
    overflow-y:auto;
    padding: 0 1rem;
}
.footer{
    grid-area: 4 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-black);
    padding: 1.5rem 0;
    font-size: 1.5rem;
    height: 100%;
}
.header, .footer{ color: var(--white);}
.nav-burger{
    font-size: 2.5rem;
    color: var(--white);
    background-color: var(--bg-black);
    border: none;
    cursor: pointer;
    height: 40px;
}
.fa.fa-bars{ font-size: 2.5rem;}
#mobile-icon{ margin-right: 1rem; }
.formCreate{
    white-space: pre-line;
}
.formCreate *{
    margin: .5rem 0;
}
.sort_list{
    width: 100%;
    padding: 2rem 1rem;
}
.sortCells{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
    color: var(--white);
    font-size: 1.5rem;
}
.listTasks{
    display: grid;
    gap: 1.5rem;
}
.formAccueil{
    grid-column: 1 / 5;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 2.5rem;
    margin-top: 2rem;
    background-color: var(--bg-black);
    color: var(--white);
}
.cellList{
    display: grid;
    border: solid black 1px;
    width: 100%;
    height: 250px;
}
.cellList div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cellList div:nth-child(1), .cellList div:nth-child(2)
, .cellList div:nth-child(3), .cellList div:nth-child(4)
, .cellList div:nth-child(5){ grid-area: auto/5; width: 90vw; }

.refs{
    display: none;
}
.description{
    padding: 0 1.5rem;
    align-items: center;
}
.description input[type=text]{
    width: 80%;
    height: 50%;
}
.btn-description{
    height: 50%;
    background-color: var(--bg-black);
    color: var(--white);
    padding: 0 .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-description:hover{
    background-color: var(--white);
    color: var(--bg-black);
}

.priority, .date, .div-checkbox{
    align-items: center;
    justify-content: center;
}
.priority span, .div-checkbox span{ padding-right: 1rem; }

/***********/
/** MODAL **/
/***********/

.modal_task, .modal_error{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    color:white;
}
.modal_task_detail, .modal_error_detail{
    white-space: pre-line;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--bg-black);
    border: solid var(--bg-black) 5px;
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    font-size: 1.5rem;
}
.modal_task_detail span:nth-child(even){
    width: 100%;
    padding: .3rem .7rem;
    color: white;
    background: var(--bg-black);
}
.modal_task_detail span:nth-child(odd){
    width: 100%;
    padding: .3rem .7rem;
    background-color: var(--bg-black50);
    font-weight: bold;
}
.modal_task_detail span:not(:last-of-type):nth-child(even){
    border-bottom: solid var(--white) 1px;
}
.modal_task_detail span:not(:last-of-type):nth-child(odd){
    border-bottom: solid var(--bg-black) 1px;
}
a{ text-decoration: none;color: white; }
a:hover{ text-decoration: none;color: red; }
.modal_error_detail input[type=button]{ color: white;background-color: var(--bg-black);padding: .5rem;font-weight: bold; }
.modal_error_detail input[type=button]:hover{ color: rgb(48, 102, 190);background-color: var(--bg-black50); }

.close_modal{ position: fixed;z-index: 1010;top: 20px;right: 50px;color: white;font-size: 1.5rem;padding: .2rem .7rem;border: solid white 2px;border-radius: 1.5rem; }
.close_modal:hover{ color: red;border: solid red 2px;cursor: pointer; }
.error_404{ font-weight: bold;font-size: 10rem; }
.error_404 img{ width: 100%; }
.message_error_404{ display:flex;align-items: center;justify-content: center;font-size: 175%;font-weight: bold; }

@media screen and (min-width: 1024px) {
    .site{
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 8% 5% 82% 5%;
    }
    .site_title{
        font-size: 3rem;
    }
    .header{ grid-area: 1 / 2; }
    .main{ grid-area: 3 / 2; }
    .nav-burger{ display: none; }
    .navbar{ grid-area: 2 / 2;list-style: none;align-items: center; }
    .ul-navbar, .ul-navbar.active{
        top: 80px;
        position: none;
        z-index: 0;
        display: flex;
        justify-content: center;
        padding-top: 0;
        width: 100%;
        background: none;
    }
    .li-navbar{
        display: inline-block;
        list-style: none;
        width: auto;
        background: none;
        padding: 0;
    }
    .lnk-navbar {
        display: inline-block;
        position: relative;
        transition: border var(--transition-duration) var(--transition-function);
    }
    .lnk-navbar:hover{
        background-color: var(--white);
        color: var(--bg-black);
    }
    
    .lnk-navbar::after {
        content: "";
        display: block;
        height: .25rem;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: var(--primary-color);
        transition: width .3s ease;
    }
    
    .lnk-navbar.active::after, .lnk-navbar:hover::after  {
        width: 100%;
    }
    .modal_task_detail, .modal_error_detail{
        width: 50vw;
    }
    .refs{
        display: grid;
        background-color: var(--bg-black);
        color: var(--white);
        font-weight: bold;
        font-size: 1.5rem;
    }
    .refs div{
        height: 100%;
    }
    .refs div:not(:last-of-type){
        border-right: solid var(--white) 1px;
    }
    .refs div{ padding: 0; }
    .description input[type=text]{
        width: 100%;
    }
    .listTasks{
        gap: 0;
    }
    .cellList{
        height: 50px;
    }
    
    .cellList div:nth-child(1){ grid-area: auto/1; width: 309px; }
    .cellList div:nth-child(2){ grid-area: auto/2; width: 165px; }
    .cellList div:nth-child(3){ grid-area: auto/3; width: 156px; }
    .cellList div:nth-child(4){ grid-area: auto/4; width: 132px; }
    .cellList div:nth-child(5){ grid-area: auto/5; width: 180px; }
    .cellList div:not(:last-of-type){ border-right: solid var(--bg-black) 1px; }
    .footer{ grid-area: 4 / 2; }
}